<!doctype html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include masthead.html %}
    <main id="main" class="page">
      <header class="page__header">
        <h1 class="page__title">Tags</h1>
      </header>
      <div class="page__content">
        <ul class="tag-list">
          {% for tag in site.tags %}
            <li><a href="{{ '/tags/' | append: tag[0] | relative_url }}">{{ tag[0] }} ({{ tag[1].size }})</a></li>
          {% endfor %}
        </ul>
      </div>
    </main>
    {% include footer/default.html %}
    {% include scripts.html %}
  </body>
</html>
